@using Sitecore.Mvc
@using Sitecore.Mvc.Presentation
@model RenderingModel
@{
                /**/

}
<div>
    <h1>@Html.Sitecore().Field("Title")</h1>
</div>
<div>
    <p>@Html.Sitecore().Field("Text")</p>
</div>